<div class="w3l-contact-10 py-5" id="contact">
    <div class="form-41-mian pt-lg-4 pt-md-3 pb-lg-4">
        <div class="container">
            <div class="heading text-center mx-auto">
                <h5 class="title-subw3hny text-center">Ekibimizle İletişime Geçin</h5>
                <h3 class="title-w3l">Sorularınız mı var? @*<span class="inn-text">Questions? </span>*@</h3>
            </div>
            <div class="contacts-5-grid-main mt-5">
                <div class="contacts-5-grid">
                    <div class="map-content-5">
                        <div class="d-grid grid-col-2">
                            <div class="contact-type">
                                <div class="address-grid">
                                    <h6><span class="fas fa-map-marked-alt"></span> Adres</h6>
                                    <p>
                                        Rami cuma mahallesi ilkyaz sokak
                                        İstanbul/Eyüpsultan.
                                    </p>

                                </div>
                                <div class="address-grid">
                                    <h6><span class="fas fa-envelope-open-text"></span> Email</h6>
                                    <a href="mailto:mailone@example.com" class="link1">mrcicek.huseyin@gmail.com</a>
                                    <a href="mailto:mailtwo@example.com"
                                       class="link1">mrcicek.hasan@gmail.com</a>

                                </div>
                                <div class="address-grid">
                                    <h6><span class="fas fa-phone-alt"></span> Telefon</h6>
                                    <a href="tel:+12 324-016-695" class="link1">+90 546 295 1593</a>
                                    <a href="tel:+44 224-058-545" class="link1">+90 546 295 1593</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-inner-cont mt-5">
                <form action="#" method="post" class="signin-form">
                    <div class="form-grids">
                        <div class="form-input">
                            <input type="text" name="NameSurname" placeholder="Adınız Soyadınızı Girin *"
                                   required="" />
                        </div>
                        <div class="form-input">
                            <input type="text" name="Subject" placeholder="Konuyu Girin "
                                   required />
                        </div>
                        <div class="form-input">
                            <input type="email" name="Email" placeholder="Mailinizi Girin"
                                   required />
                        </div>
                        <div class="form-input">
                            <input type="text" name="Phone" placeholder="Telefon Numaranızı Girin"
                                   required />
                        </div>
                    </div>
                    <div class="form-input">
                        <textarea name="Message" placeholder="Mesajınızı Girin"
                                  required=""></textarea>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-style btn-primary">Mesajı Gönder</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- //contacts-5-grid -->
</div>